<div class="container">
    <div class="panel callout radius">
        <div class="row" ng-controller="MainCtrl ">
            <div class="large-10 columns">
                <h3>
    My Contacts ({{contacts.length}})
       </h3>
                <!-- form for adding new contact -->
                <div data-alert class="alert-box" ng-show="message">
                    {{message}}
                </div>
                <div class="row" ng-show="contactShow">
                    <div class="panel"></div>
                    <h3>{{name}}</h3>
                    <ul>
                        <li><strong>Email Address:</strong>{{ email }}</li>
                        <h5>Phone Numbers</h5>
                        <li><strong>Mobile:</strong>{{ mobile_phone }}</li>
                        <li><strong>Work:</strong>{{ work_phone }}</li>
                        <h5>Address</h5>
                        <li>{{ street_address }}</li>
                        <li>{{ city }}, {{state }} {{zipcode }}</li>
                    </ul>
                </div>
                <!--        Add Contact From-->
                <form ng-submit="addFormSubmit()" ng-show="showForm">
                    <h3>Add Contact</h3>
                    <!-- Add Form -->
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Name:
                                <input type="text" ng-model="name" placeholder="Name" required />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Email:
                                <input type="email" ng-model="email" placeholder=" Email" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Mobile Phone:
                                <input type="text" ng-model="mobile_phone" placeholder=" Mobile Phone" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Work Phone:
                                <input type="text" ng-model="work_phone" placeholder=" Work Phone" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Street Address:
                                <input type="text" ng-model="street_address" placeholder="Street Address" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>City:
                                <input type="text" ng-model="city" placeholder="City" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>State:
                                <input type="text" ng-model="state" placeholder="State" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Zip Code:
                                <input type="text" ng-model="zipcode" placeholder="Zip Code" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="submit" value="Add Contact" class="button expand" />
                        </div>
                    </div>
                </form>
                <!--Edit Contact Form-->
                <form ng-submit="editFormSubmit()" ng-show="editshowForm">
                    <h3>Edit Contact</h3>
                    <!-- Add Form -->
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Name:
                                <input type="text" ng-model="name" placeholder="Name" required />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Email:
                                <input type="text" ng-model="email" placeholder=" Email" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Mobile Phone:
                                <input type="text" ng-model="mobile_phone" placeholder=" Mobile Phone" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Work Phone:
                                <input type="text" ng-model="work_phone" placeholder=" Work Phone" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Street Address:
                                <input type="text" ng-model="street_address" placeholder="Street Address" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>City:
                                <input type="text" ng-model="city" placeholder="City" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>State:
                                <input type="text" ng-model="state" placeholder="State" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Zip Code:
                                <input type="text" ng-model="zipcode" placeholder="Zip Code" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="submit" value="Update Contact" class="button" />
                        </div>
                    </div>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th width="20%">
                                Name
                            </th>
                            <th width="20%">
                                Company
                            </th>
                            <th width="20%">
                                Email
                            </th>
                            <th width="20%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts">
                            <td>
                                <a ng-click="showContact(contact)">{{contact.name}}</a>
                            </td>
                            <td>{{contact.company}}</td>
                            <td>{{contact.email}}</td>
                            <td>
                                <a class="button tiny alert" ng-click="removeContact(contact)">Delete</a>
                            </td>
                            <td>
                                <a class="button tiny" ng-click="showEditForm(contact)">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="small-12 large-2 columns">
                <p class="button large" ng-click="showAddForm()" ng-hide="showForm">+</p>
                <p class="button large" ng-click="hideForm()" ng-show="showForm">-</p>
                <p class="button large" ng-click="hideForm()" ng-show="contactShow">-</p>
            </div>
        </div>
    </div>
</div>
